<div class="container-fluid" style="width: 100%">
  <div class="row footer" style="background-color: #058af0; font-size: 12px; margin-top: 1%">
    <div class="col-lg-4" style="text-align: justify; padding-left: 100px; margin-top: 2%">
      <span
        style="font-weight: bold; color: white; margin-bottom: 5%; font-size: large">CTY TNHH TBYT - DƯỢC CODEGYM</span>
      <br>
      <br>
      <span style="color: white">Chúng tôi tin tưởng rằng, với năng lực, sự năng động, sáng tạo, trách nhiệm cao của đội ngũ cán bộ ở đây. Công ty sẽ luôn đáp ứng được các hợp
    đồng thương mại trong nước và xuất khẩu ra thị trường thế giới, đáp ứng các hợp đồng dịch vụ kỹ thuật y tế đối khách hàng (cơ sở y tế công lập và tư nhân, trong nước và nước ngoài).
  </span></div>
    <div class="col-lg-4" style="text-align: justify;color: white;margin-top: 2%">
      <span style="font-weight: bold;font-size: large">LIÊN HỆ:</span>
      <br>
      <br>
      <span style="font-weight: bold;">Trụ sở:</span>
      <span>Căn hộ TT01.23, dự án Hải Đăng city, phường Mỹ Đình 2, quận Nam Từ Liêm, thành phố Hà Nội, Việt Nam</span>
      <br>
      <span style="font-weight: bold;">Chi nhánh 1:</span>
      <span>CODEGYM MON City, Hà Nội, Nhà số 23, Lô TT01, Khu đô thị Mon City, Phường Mỹ Đình 2, Quận Nam Từ Liêm, Hà </span>
      <br>
      <span style="font-weight: bold;">Chi nhánh 2:</span>
      <span>CODEGYM HUẾ, Tần 4, toà B trường Đại học Phú Xuân Cơ Sở 1, số 28 Nguyễn Tri Phương, phường Phú Xuân, TP. </span>
      <br>
      <span style="font-weight: bold;">Chi nhánh 3:</span>
      <span>CODEGYM ĐÀ NẴNG, Tầng 10, 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận Hải Châu, TP. Đà Nẵng</span>
      <br>
      <span style="font-weight: bold;">Hotline:</span>
      <span>0913379559</span>
      <br>
      <span style="font-weight: bold;">Điện thoại:</span>
      <span>023.66.517.021</span>
      <br>
      <span style="font-weight: bold;">Email:</span>
      <span>info@codegym.vn</span>
    </div>
    <div class="col-lg-4" style="text-align: justify; margin-top: 2%">
      <span style="font-weight: bold;color: white;font-size: large">DANH MỤC SẢN PHẨM</span>
      <br>
      <br>
      <span><a style="color: white" routerLink="/home/list">Sản phẩm chăm sóc sức khỏe</a></span>
      <br>
      <span><a style="color: white" routerLink="/home/list">Thiết bị bảo hộ y tế</a></span>
      <br>
      <span><a style="color: white" routerLink="/home/list">Thiết bị y tế & vật tư tiêu hao</a></span>
    </div>
  </div>
  <div class="row" id="copyright" style="margin-bottom: 1%">
    <br>
    <div class="col-lg-4" style="padding-left: 0px">

      <span style="margin-left: 2%">COPYRIGHT<i class="fa fa-copyright" aria-hidden="true">2021 CODEGYM.VN</i></span>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://www.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a>
      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
